---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca del Proyecto">
    
    <h1>Acerca del Proyecto</h1>

    <p>El proyecto de lanzamientos de SpaceX es una demostración para el curso de Astro.</p>

    <p>Esta aplicación proporciona información detallada sobre los diferentes lanzamientos realizados por SpaceX. Puedes explorar los últimos lanzamientos, obtener detalles sobre los lanzamientos más antiguos y aprender más sobre el proyecto en general.</p>

    <p>Nuestro objetivo es brindar una experiencia informativa y atractiva para aquellos interesados en seguir la emocionante actividad de SpaceX en el espacio.</p>

</Layout>
