---
import FooterLink from "./FooterLink.astro";
---

<footer class="bg-gray-800 py-8 mt-16">
    <div class="max-w-5xl mx-auto px-4">
        <div class="flex flex-col md:flex-row items-center justify-between">
            <div class="text-white">
                <p class="text-lg font-bold">Enlaces rápidos:</p>
                <div class="flex flex-col mt-2 ">
                    <FooterLink href="/">Ultimos lanzamientos</FooterLink>
                    <FooterLink href="/about">Sobre el proyecto</FooterLink>
                    <FooterLink href="/oldest">Los mas viejos</FooterLink>
                </div>
            </div>
            <div class="text-white mt-4 md:mt-0">
                <p class="text-lg font-bold">Síguenos en:</p>
                <!-- Agrega aquí los iconos o enlaces a redes sociales si es necesario -->
            </div>
        </div>
    </div>
</footer>
